@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.root,
#root,
#docs-root {
  --c-yellow: #ffc400;
  --white: #f4f4f4;
  --c-dark-gray: #dbe0e3;
}

body,
html {
  box-sizing: border-box;
  height: 100%;
}

.c-yellow {
  background: var(--c-yellow);
}

.c-dark-gray {
  background: var(--c-dark-gray);
}

.slowly-text {
  font-family: 'Fredoka One', cursive;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.slowly-text-description {
  font-family: Arial, Helvetica, sans-serif;
}

.mybody {
  top: calc(83.333333% + 6rem);
}